.navbar-container {
  background-color: #032541;
}

.logo-container {
  background-image: linear-gradient(to right, #8fcea1, #03b3e3);
  text-decoration: none;
  border-radius: 8px;
}

.page-logo {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 28px;
  color: #032541;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 5px;
}

.search-and-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  box-shadow: 0 4px 12px white;
}

.search-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.search-input {
  outline: none;
  background-color: transparent;
  padding: 4px 12px 7px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-style: italic;
  min-width: 250px;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bt {
  padding: 7px;
  border: none;
  color: #032541;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.nav-items-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-left: 25px;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}